<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogToConsole="true" internalLogLevel="Warn">
    <extensions>
        <add assembly="Nlog.RabbitMQ.Target" />
    </extensions>

    <variable name="rmqHost" value="localhost" />
    <variable name="rmqUser" value="rmquser" />
    <variable name="rmqPassword" value="rmquser" />
    <variable name="rmqvHost" value="/" />
    <targets async="true">
        <target name="console" xsi:type="Console" />
        <target name="rmq"
                xsi:type="RabbitMq"
                username="${rmqUser}"
                password="${rmqPassword}"
                hostname="${rmqHost}"
                exchange="test-exchange"
                port="5672"
                vhost="${rmqvHost}"
                useJSON ="true"
                includeGdc="true"
                includeNdlc="true"
                includeMdlc="true">
            <field key="fieldFromConfig" name="Field From Config" layout="${machinename}"/>
            <field key="fieldB" name="Field B" layout="Overriden From Config"/>
            <field key="fieldA" name="" layout="Overriden From Config"/>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="rmq" />
        <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
</nlog>