<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogToConsole="true" internalLogLevel="Warn">
    <extensions>
        <add assembly="Nlog.RabbitMQ.Target" />
    </extensions>

    <variable name="rmqHost" value="localhost" />
    <variable name="rmqUser" value="rmquser" />
    <variable name="rmqPassword" value="rmquser" />
    <variable name="rmqvHost" value="/" />
    <targets>
        <target name="console" xsi:type="Console" />
        <target name="rmq"
                xsi:type="RabbitMQ"
                username="${rmqUser}"
                password="${rmqPassword}"
                hostname="${rmqHost}"
                UseSsl="false"
                exchange="test-exchange"
                port="5672"
                vhost="${rmqvHost}"
                useJSON="true"
                includeGdc="false"
                includeNdlc="false"
                includeMdlc="false">
            
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="console" />
        <logger minlevel="Info" writeTo="rmq" />
    </rules>
</nlog>